<div id="<%= dom_id friend %>">
  <% if friend.user == current_user %>
  <p>
    <strong>Skill-1:</strong>
    <%= friend.first_name %>
  </p>

  <p>
    <strong>Skill-2:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Experience-1:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Experience-2:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= friend.twitter %>
  </p>

    <p>
    <strong>User Id:</strong>
    <%= friend.user_id %>
  </p>
<% end %>
</div>
